
@{
    Layout = "_MainLayout";
}

<style>

    body {
        background-image: url(https://images.unsplash.com/photo-1523240795612-9a054b0db644?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>




<div class="text-center" name="Maincontain">

    <h1 class="text-black-100 fw-semibold mt-5">

        India’s best tech <br>
        learning company
    </h1>

    <div class="mt-5 text-black-100 fw-medium fst-italic fs-6 ">
        <h5>
            Learn industry-relevant skills with top tech veterans
            Saltmine intelligently automates and integrates people, data,<br> and processes for the workplace—all within a collaborative <br> cloud-based platform.
        </h5>
    </div>

</div>